CacheControl==0.12.6
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
deprecation==2.1.0
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
jsonpickle==0.9.6
MarkupSafe==2.0.1
msgpack==1.0.2
packaging==21.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.18.0
requests==2.25.1
six==1.16.0
SQLAlchemy==1.4.18
squareup==12.0.0.20210616
urllib3==1.26.6
Werkzeug==2.0.1
