.padding {
    padding: 1rem !important
}

form{position:relative; direction:ltr; border: 0px}
.tasksInput{margin-right:100px;}
.submit-and-options{position:absolute; right:0; top:0;}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  
/* h1 {
    align-self:center;
} */
header {
    display: flex;
    /* position: relative; */
    /* align-items: center; */
    
    /* Remove the next line if you want the span to appear next to the h1 */
    /* justify-content:space-between; */
    
    border-bottom: 2px solid #f8fafe;
    padding: 0% 0%;
  }

body {
    background-color: #f8fafe;
    letter-spacing: 1px;
    min-height: 101vh
}

.domain-form .form-group {
    
    border: 0px solid #000000;
    padding: 7px
    
}

.domain-form .form-group input {
    height: 37px;
    border: transparent;
    
}
input[type=text], select {
    width: 44%;
    padding: 12px 20px;
    margin: 0px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.form-control {
    height: 52px !important;
    background: #fff !important;
    color: #3a4348 !important;
    font-size: 18px;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.px-4 {
    padding-left: 1.5rem !important
}

.domain-form .form-group .search-domain {
    background: #000000;
    border: 1px solid #000000;
    color: #fff;
    /* -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0 */
}

.domain-price span {
    color: #ffffff;
    margin: 0 10px
}

.domain-price span small {
    color: #000000
}
/* body{
    background: #eee;
    letter-spacing: 2px;
    min-height: 101vh;
  }
  
  a:hover, a:active{
    text-decoration: none;
  }
  
  input[type="text"], select{ 
      outline: none;
  }
  
  .col-xs-1{
    padding:0;
  }
  
  h1{
    font-family: 'Arvo', sans-serif;
    color:#fcfafb;
  }
  
  header.container-fluid{
    margin: 0;
    background-color: #050505;
    box-shadow: 0 0px 3px 3px rgba(0,0,0,.4);
    height: 25vh;
    min-height: 150px;
  }
  
  .container{
    max-width: 720px;
    margin: auto;
    padding: 0 50px;
  }
  
  ul{
    padding: 0;
  }
  
  li{
    letter-spacing: 0;
    padding: 10px;
    list-style: none;
    min-height: 200px;
    background: #fff;
    margin: 50px auto;
    text-align: left;
    -webkit-transition: box-shadow .2s ease-out .2s;
    -moz-transition: box-shadow .2s ease-out .2s;
    -o-transition: box-shadow .2s ease-out .2s;
    transition: box-shadow .2s ease-out .2s;
    word-spacing: 2px;
  }
  
  li > h3{
    margin-top:0;
    color: #faf8f8;
    line-height: 2;
  }
  
  li > p{
    color: #666;
    line-height: 2;
  }
  
  input{
    padding:0;
    border-radius: 0;
    border: none;
    font-size: 20px;
    color: #bbb;
    background:none;
    letter-spacing: 1px;
    word-spacing: 10px;
    font-family: 'Arvo', sans-serif;
    padding: 0;
    line-height: 25px;
  }
  
  #searchBox{
    padding-top: 3vh;
  }
  
  button{
    background: none;
    border: none;
  }
  
  .form{
    padding: 7px 0;
    padding-right: 30px;
    border: 3px solid #f7f3f3;
    
  }
  
  .form.col-xs-12{
    padding-left: 0;
  }
  
  .glyphicon{
    color: #f8f6f6;
    font-size: 20px;
    line-height: 25px;
  }
  
  .glyphicon-search{
    cursor: pointer;
  
  }
  
  .glyphicon-search:hover{
  
  }
  
  .bar{
    vertical-align: super;
    font-weight: 700;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
  }
  
  
  li:hover{
    box-shadow: 0 0 15px 15px rgba(0,0,0,.1);
  }
  
  ::-webkit-input-placeholder {
    color: #bbb;
    opacity: 1;
  }
  
  :-moz-placeholder { /* Firefox 18- 
    color: #bbb;
    opacity: 1;
  }
  
  ::-moz-placeholder {  /* Firefox 19+ 
    color: #bbb;
    opacity: 1;
  }
  
  :-ms-input-placeholder {  
    color: #bbb;
    opacity: 1;
  }
  
  #mainBody{
    font-family: 'Montserrat', sans-serif;
  }
  

  
  @media screen and (max-width: 420px){
    #searchBar,.glyphicon{
      font-size: 16px;
    } 
    
    h1{
      font-size: 28px;
    } 
  } */