{% extends 'base.html' %}


{% block itemList %}
<table class="table table-hover table-dark table-striped">
    <thead>
        <tr>
            <!-- Your Columns HERE -->
            <th scope="col">&#x1F525; Best Sellers from This Location</th>
        </tr>
    </thead>
</table>
{% endblock %}



{% block storeCard %}
<div class="card-group">

<div class="card" style="max-width: 12rem; border-color:rgb(0, 0, 0); border-width: 3px;">
    <div class="card-body">
      <h5 class="card-title">Name of Shop</h5>
      <p class="card-text">Location</p>
      <a href="#" class="btn btn-dark">View</a>
    </div>
  </div>
</div>
{% endblock %}